<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Password</title>
    <style>
        #pass{
            background-color: green;
            color: white;
            font-weight: bold;
            text-align: center;
            border-radius: 7px;
            padding: 7px;
        }
        #mn{
            width: 350px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
    <div id="mn">
        <%if(status==600){%>
            <form method="post" id="forms">
                <h1>Set Password Window</h1>
                <table>
                    <tr>
                        <td><label for="cPass">Create Password</label></td>
                        <td><input type="password" id="cPass" name="cPass"></td>
                    </tr>
                    <tr>
                        <td><label for="pPass">Confirm Password</label></td>
                        <td><input type="password" id="pPass" name="pPass"></td>
                    </tr>
                    <tr>
                        <td ><p id="pass">Set Password</p></td>
                    </tr>
                </table>
            </form>
        <%}else if (status == 601){%>
            <p>Your Link Has Been Expired! Please Varify The Below Link</p>
            <a href="<%=accessLink%>">Click Here To Activate</a>
        <%}%>
        <h3 id="err"></h3>
    </div>
</body>
</html>
<script>
    const cPass = document.querySelector("#cPass");
    const pPass = document.querySelector("#pPass");


    const pass = document.querySelector("#pass");
    pass.addEventListener("click", setUser);

    const err = document.querySelector("#err");
    


    function objCreation(){
        const url = new URL(window.location.href);
        const id = url.pathname.split(":")[1];
        let formEntries = new FormData(document.querySelector("form"));
        let obj = {};
        
        obj["id"] = id;
        formEntries.forEach((values, keys)=>{
            console.log(values)
            if(obj[keys] != undefined){
                obj[keys] += `,${values}`;
            } else {
                obj[keys] = values;
            }
        });
        
        
        return obj;
    }

    async function setUser(){

        const response = await fetch("http://localhost:8080/activate", {
            method : "post",
            body : JSON.stringify(objCreation()),
            headers : {
                'Content-Type': 'application/json'
            }
        });
        const data = await response.json();
        
        if(data.status == 2000){
            console.log("error while password change");
        }
        console.log(data)
        if(data.status == 2003){
            console.log("passwords are not same 2003");
            err.innerHTML = "both passwords are not same!";
        }

        if(data.status == 200){
            window.location = "http://localhost:8080/login";
        }
        

    }
</script>